[user]
	name = William Douglas
	email = william.douglas@intel.com

[core]
	gitproxy = none for otcgit.jf.intel.com
	gitproxy = git-proxy
[alias]
	ai = add --interactive

	c = commit
	ca = commit --amend
	caa = commit -a --amend -C HEAD
	cm = commit -m
	cma = commit -a -m
	cmas = commit -a -s -m

	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard

	fp = format-patch
	fp1 = format-patch HEAD^
	fp2 = format-patch HEAD^^

	ap = apply-patch

	st = status
	sh = show
	d = diff
	a = add
	co = checkout
	b = branch
	bco = checkout -b
	l = log
	f = fetch

	ph = push
	phom = push origin master
	phum = push upstream master
	pl = pull
	plom = pull origin master
	plum = pull upstream master