[user]
	name = William Douglas
	email = william.douglas@intel.com

[core]
	gitproxy = none for otcgit.jf.intel.com
	gitproxy = none for otc-android.intel.com
	gitproxy = git-proxy
[alias]
	ai = add --interactive

	c = commit
	ca = commit --amend
	caa = commit -a --amend -C HEAD
	cm = commit -m
	cas = commit -a -s
	cma = commit -a -m
	cmas = commit -a -s -m
	cdf = clean -df

	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard

	fp = format-patch
	fp1 = format-patch HEAD^
	fp2 = format-patch HEAD^^

	ap = apply-patch

	st = status
	sh = show
	d = diff
	a = add
	co = checkout
	b = branch
	bco = checkout -b
	l = log
	f = fetch

	ph = push
	pht = push --tags
	phom = push origin master
	phomt = push origin master --tags
	phum = push upstream master
	phumt = push upstream master --tags
	pl = pull
	plt = pull --tags
	plom = pull origin master
	plomt = pull origin master --tags
	plum = pull upstream master
	plumt = pull upstream master --tags

	tc = !sh -c 'git rev-list $0 | head -n 1'
[color]
	ui = auto
